<div class="container d-flex w-100 justify-content-center">
    <div class="sub-container d-flex align-items-center justify-content-center">
        <div class="text-conatiner ">
            <div class="text">
                <p class="sub pb-3">OPEN SEASON</p>
                <h2 class="main">Weather</h2>
                <h3 class="sub pb-4">Forcast</h3>
                <button routerLink = "/forcast">Discover</button>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <img src="/assets/6020824.jpg">
    </div>
</div>
