body {
    height: 100vh;
}

/* form */

.sesrch-bar {
    display: flex;
    gap: 15px;
}

.form-container {
    background-color: #FFC801;
    height: 60vh;
}

/* inputs */

input {
    background-color: white;
    padding: 8px 56px;
    border-radius: 25px;
    border: none;
}

/* icon */

.icon {
    background-color: white;
    border-radius: 50%;
    height: 39px;
    width: 40px;
  
}

mat-icon {
    font-size: 33px;
    position: relative;
    left: 4px;
    top: 3px;
    cursor: pointer;
}

/* card */

.example-card {
    min-width: 680px;
}

.title {
    position: relative;
    right: 20px;
}
  
h3 {
    text-transform: uppercase;
}

img {
    height:  190px;
    position: relative;
    bottom: 60px;
    right: 50px;
}

span {
    opacity: .6;
    font-size: 27px;
    position: relative;
    right: 15px;
}

.temp {
    font-size: 58px;
    position: relative;
    left: -85px;
    bottom: 5px;
} 

.temp-container {
    height: 90px;
}

.items {
    padding-top: 12px;
    border-top: 1px solid rgba(0,0,0,.15);
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.feel {
    font-size: 18px;
}

.sub {
    opacity: .6;
    font-size: 16px;
}
